@import url('https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap');

body {
  // TODO: remove this
  background-color: #333;
  padding: 0;
  margin: 0;
  position: relative;
}

.black-on-white {
  background-color: white;
  color: black;
}

.white-on-black {
  background-color: black;
  color: white;
}

.buffer {
  padding: 1em;
  border-radius: 0.4em;
}

// TODO: hover effect
nav {
  position: absolute;
  top: 1em;
  right: 1em;

  a {
    font-family: 'Lexend Deca', sans-serif;
    font-weight: bold;
    font-size: 1.2em;
    cursor: pointer;
    margin-right: 1.5em;

    &:last-child {
      margin-right: 0;
    }
  }
}